html {
  font-size: 16px;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, #282c34, #3a3f47);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  color: white;
  padding: 20px;
  position: relative;
}

.app-title {
  font-size: 4.5rem;
  color: #61dafb;
  position: relative;
  /* top: 20%; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  margin: 2.5rem;
}


.image-form {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-label {
  font-size: 1.5rem;
  /* margin-right: 1rem; */
  position: relative;
  /* top: 0px; */
  /* right: 54%; */
  /* transform: translateX(-50%); */
  
}

.image-input {
  color: white;
  background-color: #3a3f47;
  border: 1px solid #61dafb;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: 0;
  margin: 1rem
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.video {
  max-width: 35rem;
  color: white;
  background-color: #3a3f47;
  border: 1px solid #61dafb;
  padding: 0;
  border-radius: 5px;
  border-width: 3px;
  position: relative;
  top: 0;
  margin: 1rem;
  width: 40%;
  height: auto;
  
}

.prediction-display p {
  font-size: 1.25rem;
}

.blue-btn {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  /* margin-left: 20px; */
  position: relative;
  top: 0px;
  /* left: 60%; */
  /* transform: translateX(-50%); */
}

.blue-btn:hover {
  background-color: #4fa3f7;
}

.gray-btn {
  background-color: #F7F7F7;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 5px;
  /* margin-left: 20px; */
  position: relative;
  top: 0px;
  /* left: 60%; */
  /* transform: translateX(-50%); */
}

.gray-btn:hover {
  background-color: #dbdbdb;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #2c2f38;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  color: white;
  width: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
  font-size: 1.8rem;
  margin: 1rem;
  display: inline;
}

.modal-content p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.modal-content button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.modal-content button:hover {
  background-color: #4fa3f7;
}

.image-preview {
  margin: 1.5rem;
  /* display: inline; */
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
}


@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  /* .app-title {
    font-size: 4rem;
  } */

  /* .image-form { */
    /* flex-direction: column; */
    /* align-items: center; */
  /* } */

  /* .image-label {
    font-size: 1.2rem;
  } */

  .image-input {
    /* width: 80%; */
    /* margin: 1.5rem */
  }

  .blue-btn {
    /* margin-left: 0; */
    /* width: 80%; */
    /* margin-top: 1rem; */
  }

  .gray-btn {
    /* margin-left: 0; */
    /* width: 80%; */
    /* margin-top: 1rem; */
  }

  /* .modal-content {
    width: 70%;
  } */
}

/* @media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
} */

@media (max-width: 768px) {
  
  .app-title {
    font-size: 3.25rem;
  }

  .image-form {
    flex-direction: column;
    align-items: center;
  }

  /* .image-label {
    font-size: 1rem;
  } */

  .image-input {
    /* width: 80%; */
    /* padding: 12px;
    margin: 1rem */
  }

  .blue-btn {
    /* margin-left: 0; */
    /* width: 80%; */
    /* margin-top: 1rem; */
  }

  .gray-btn {
    /* margin-left: 0; */
    /* width: 80%; */
    /* margin-top: 1rem; */
  }

  /* .modal-content {
    width: 80%;
  } */

  /* .image-preview img {
    max-height: 250px;
  } */
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  /* .app-title {
    font-size: 2.5rem;
  } */

  /* .image-label {
    font-size: 1rem;
  } */

  /* .image-input {
    width: 90%;
    margin: 1.5rem
  } */

  .blue-btn {
    /* width: 90%; */
    /* margin-top: 1rem; */
  }

  .gray-btn {
    /* width: 90%; */
    /* margin-top: 1rem; */
  }

  /* .modal-content {
    width: 90%;
  } */

  /* .image-preview img {
    max-height: 200px;
  } */
}